name: CI

on:
  pull_request:
  push:
    branches:
      - main
    tags: 
      - "v*.*.*"

concurrency:
  # Cancels pending runs when a PR gets updated.
  group: ${{ github.head_ref || github.run_id }}-${{ github.actor }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  build:
    name: Build Mac, Windows and Linux
    strategy:
      matrix:
        include:
          - os: "ubuntu-20.04"
            suffix: "linux"

    runs-on: ${{matrix.os}}
 
    steps:
    - uses: actions/checkout@v4

    - name: Setup Zig
      uses: goto-bus-stop/setup-zig@v2
      with:
        version: "0.13.0"

    - name: Test
      run: zig build test --verbose

    - name: Build Debug
      if: startsWith(github.ref, 'refs/tags/') == false
      run: |
        zig build -Dtarget=x86_64-macos --verbose
        zig build -Dtarget=aarch64-macos --verbose
        zig build -Dtarget=x86_64-windows --verbose
        zig build --verbose

    - name: Build Release
      if: startsWith(github.ref, 'refs/tags/')
      run: |
        zig build -DbinSuffix=macos-x86 -Dtarget=x86_64-macos -Doptimize=ReleaseSafe --verbose
        zig build -DbinSuffix=macos-arm -Dtarget=aarch64-macos -Doptimize=ReleaseSafe --verbose
        zig build -DbinSuffix=windows -Dtarget=x86_64-windows -Doptimize=ReleaseSafe --verbose
        zig build -DbinSuffix=linux -Doptimize=ReleaseSafe --verbose

    - name: Release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          zig-out/bin/desk-breaker-*
